
.logo{
  color: #fff;
  font-size: 40px;
}

.logo .e{
  color: #ec4899;
}

.logo .m{
  color: #11f1b3;
}

.logo .o{
  color: #ec4899;
}

.contenedor-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contenedor del menú */
.menu-container {
  padding: 30px 0;
  /* background-color: #031739; */
}

.menu a{
  font-size: 25px;
}

/* Botón hamburguesa (se oculta en desktop) */
.hamburger {
  font-size: 50px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  display: block;
}

/* Menú de navegación */
nav.menu {
  opacity: 0;
  max-height: 0;
  transition-delay: 100ms 300ms;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  transition-property: opacity, max-height;
}

nav.open {
  opacity: 1;
  max-height: 300px;
  transition-delay: 100ms 300ms;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  transition-property: max-height, opacity;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1180px){
  nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}

/* Estilos para desktop */
@media (min-width: 1180px) {
  nav.menu {
    opacity: 1;
    /* max-height: 0; */
  }
  .contenedor-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    display: none; /* Ocultar el botón hamburguesa */
  }

  nav {
    display: flex;
    flex-direction: row;
    position: static;
    background: none;
    width: auto;
    opacity: 1;
    pointer-events: auto;
    transform: none;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    margin: 0 15px; /* Espaciado horizontal */
  }

  nav ul li a {
    padding: 5px 10px;
    color: white;
  }
}
