/* You can add global styles to this file, and also import other style files */
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* contenedor principal */
.contenedor{
  width: 90%;
  margin: 0 auto;
}
